<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Iniciar Sesi칩n</title>
</head>
<body>
  <h1>Iniciar Sesi칩n</h1>
  <form action="/login" method="post">
    <div>
      <label for="usuario">Usuario:</label>
      <input type="text" name="usuario" id="usuario" required>
    </div>
    <div>
      <label for="contrasena">Contrase침a:</label>
      <input type="password" name="contrasena" id="contrasena" required>
    </div>
    <button type="submit">Iniciar Sesi칩n</button>
  </form>
</body>
</html>
